In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.351677 -1.741858
1    a  two  0.117503 -0.294079
2    b  one  0.901813 -0.427097
3    b  two  2.009898 -0.218651
4    a  one -2.171625  0.550944

In [4]:
#法1
groupby=df['data1'].groupby(df['key1'])
groupby

In [6]:
groupby.min()

key1
a   -2.171625
b    0.901813
Name: data1, dtype: float64

In [9]:
#兩個
groupby.aggregate([('最小','min'),('最大','max')])

            最小        最大
key1
a    -2.171625  0.117503
b     0.901813  2.009898

In [11]:
#法2
groupby=df.groupby('key1')['data1']
groupby.mean()

key1
a   -0.801933
b    1.455856
Name: data1, dtype: float64

In [26]:
groupby.aggregate(['min','max','count'])

           min       max  count
key1
a    -2.171625  0.117503      3
b     0.901813  2.009898      2

In [27]:
#sort_values=排序
#median=中間值