In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.863904  0.275144
1    a  two  0.553569 -1.031747
2    b  one -0.396935 -2.543536
3    b  two  0.532569 -1.161694
4    a  one -0.733959 -1.121197

In [2]:
df.groupby(['key1','key2'])[['data1','data2']].max()

              data1     data2
key1 key2
a    one  -0.733959  0.275144
     two   0.553569 -1.031747
b    one  -0.396935 -2.543536
     two   0.532569 -1.161694