In [1]:
import json
from os.path import abspath,dirname,join
import pandas as pd
gay=join(dirname(abspath(__name__)),'data','fish.json.json')
gay
with open(gay,encoding='utf-8',newline='') as file:
    man=json.load(file)
    woman=pd.DataFrame(man)
woman

,field001,field002,field003,field004,field005,field006,field007,field008,field009,field010,...,field078,field079,field080,field081,field082,field083,field084,field085,field086,field087
0,870414,170623,公司，行號,已註銷,,,840214,豐國,,1,...,,,,0,0,0,0,柴油機,,
1,1030930,400124,公司，行號,已註銷,,1000822,840214,豐國,1020821,1,...,,,,0,0,0,0,柴油機,,
2,1040615,170623,公司，行號,已註銷,,1000210,850702,豐國,1020408,1,...,,,,0,0,0,0,柴油機,,
3,1040615,170623,公司，行號,已註銷,,1000210,850702,豐國,1020408,1,...,,,,0,0,0,0,柴油機,,
4,901201,220715,公司，行號,已註銷,,,860415,三陽,,1,...,,,,0,0,0,0,柴油機,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757,1020926,370607,獨資,已註銷,,1011120,810701,聯豐,1020618,7,...,,,,0,0,0,0,柴油機,,
5758,,530325,獨資,已發照,,1020805,810701,昇興,1030719,15,...,,UMC240,,4,0,40,0,柴油機,柴油機,
5759,1020604,670425,獨資,已註銷,,1000427,810701,昇興造船廠,1010426,16,...,,,,0,0,0,0,柴油機,,
5760,,551122,獨資,已發照,,1000711,810701,益智造船廠,1010710,12,...,,,,0,0,0,0,柴油機,,
5761,,430725,獨資,已發照,,1041124,810701,台南新生造船廠,1060222,15,...,,6D22-MPT,,6,0,222,0,柴油機,柴油機,